// HAHAHAHA
color: white;
 font-size: 24px;
 font-family: Inter;
 font-weight: 700;
 word-wrap: break-word
---
// asdfkjas;kldfj;alksdjfdieuuejrhawcoeifefasdfawesdfasefsaefasefsdfaeasdfddddddddddddda
color: white;
 font-size: 16px;
 font-family: Inter;
 font-weight: 400;
 word-wrap: break-word
---
// HAHAHAHA
color: white;
 font-size: 24px;
 font-family: Inter;
 font-weight: 700;
 word-wrap: break-word
---
// asdfkjas;kldfj;alksdjfdieuuejrhawcoeifefasdfawesdfasefsaefasefsdfaeasdfddddddddddddda
color: white;
 font-size: 16px;
 font-family: Inter;
 font-weight: 400;
 word-wrap: break-word
---
// HAHAHAHA
color: white;
 font-size: 24px;
 font-family: Inter;
 font-weight: 700;
 word-wrap: break-word
---
// asdfkjas;kldfj;alksdjfdieuuejrhawcoeifefasdfawesdfasefsaefasefsdfaeasdfddddddddddddda
color: white;
 font-size: 16px;
 font-family: Inter;
 font-weight: 400;
 word-wrap: break-word
---
// HAHAHAHA
color: white;
 font-size: 24px;
 font-family: Inter;
 font-weight: 700;
 word-wrap: break-word
---
// asdfkjas;kldfj;alksdjfdieuuejrhawcoeifefasdfawesdfasefsaefasefsdfaeasdfddddddddddddda
color: white;
 font-size: 16px;
 font-family: Inter;
 font-weight: 400;
 word-wrap: break-word
---
// HAHAHAHA
color: white;
 font-size: 24px;
 font-family: Inter;
 font-weight: 700;
 word-wrap: break-word
---
// asdfkjas;kldfj;alksdjfdieuuejrhawcoeifefasdfawesdfasefsaefasefsdfaeasdfddddddddddddda
color: white;
 font-size: 16px;
 font-family: Inter;
 font-weight: 400;
 word-wrap: break-word
---
// HAHAHAHA
color: white;
 font-size: 24px;
 font-family: Inter;
 font-weight: 700;
 word-wrap: break-word
---
// asdfkjas;kldfj;alksdjfdieuuejrhawcoeifefasdfawesdfasefsaefasefsdfaeasdfddddddddddddda
color: white;
 font-size: 16px;
 font-family: Inter;
 font-weight: 400;
 word-wrap: break-word
---
// HAHAHAHA
color: white;
 font-size: 24px;
 font-family: Inter;
 font-weight: 700;
 word-wrap: break-word
---
// asdfkjas;kldfj;alksdjfdieuuejrhawcoeifefasdfawesdfasefsaefasefsdfaeasdfddddddddddddda
color: white;
 font-size: 16px;
 font-family: Inter;
 font-weight: 400;
 word-wrap: break-word
---